@chasrset "utf-8";
.container{
	width: 1180px;
	margin: auto;
}
.artical{
	float: left;
	margin-right: 20px;
	width: 880px;
}
.artical-title{
	margin-bottom: 30px;
}
.artical h3{
	color: #000;
	margin-top: 18px;
	margin-bottom: 18px;
}
.artical h4{
	border-left: 5px solid #f01400;
	margin-top: 18px;
	margin-bottom: 18px;
	padding-left: 14px;
	line-height: 1.4em;
	word-break: break-all;
}
.artical p{
	text-indent: 2em;
	word-break: break-all;
}
.artical pre *{
	font-size: inherit;
}
.artical pre{
	background-color: #f5f5f5;
	color: #666;
	padding: 20px;
	border-left: 4px solid #ccc;
	margin:10px 0;
	line-height: 2em;
	overflow: auto;
}
.artical code{
	background-color:pink;
	padding:2px 6px;
	margin: 0 4px;
	display: inline-block;
	border-radius: 4px;
	text-align: center;
	text-indent: 0;
}
.artical .panl{
	background-color: #f5f2f0;
	border-radius: 1em;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    border-width: 0.3em;
    border-color: #e0dfcc;
    border-style: solid;
    margin:10px 0;
    padding: 20px;
}
#loadTip{
	font-size: 24px;
	margin-top: 40px;
}
.artical-bottom{
	padding: 20px;
}
.artical-btn{
	display: inline-block;
	background-color: #5cb85c;
	color: #fff;
	padding: 4px 14px;
	border-radius: 4px;
	cursor: pointer;
}
.demo{
	width: 100%;
	min-height: 280px;
	resize: vertical;
	background-color: #f5f5f5;
	border: none;
	border-left: 4px solid #ccc;
	overflow: auto;
	padding: 20px;
	box-sizing: border-box;
}
.show-demo{
	width: 100%;
	min-height: 280px;
	box-sizing: border-box;
	border: none;
	background-color: #fff;
}